
.route-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
    font-size: 13px;
  }
  span:nth-child(1) {
    margin-left: 10px;
    color: #979797;
  }
  span:nth-child(2) {
    /* margin-right: 15px; */
    color: #979797;
  }
}